/*Universal selectors*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Element selectors for the entire body*/
body {
  background-color: #d9dcd6;
}

/*Element selectors for the visible webpage title*/
h1 {
  display: inline-block;
  font-size: 48px;
}

/*Element selectors for the navigation bar and list items*/
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
}

/*Element selectors for the navigation bar links*/
a {
  color: #ffffff;
  text-decoration: none;
}

/*Element selectors for all paragraph text*/
p {
  font-size: 16px;
}

/*Class selectors for the header*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.seo {
  color: #d9dcd6;
}

/*Class selectors for the figure*/
.hero {
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  background-image: url("../images/digital-marketing-meeting.jpg");
}

/*Class selectors for the main content*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/*Placed all section classes (within main class="content") into one style block with each class selector separated by commas*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*Therefore, we don't need these because they are redundant and are condensed above*/
/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/*Placed all section classes pointing to img (within main class="content") into one style block with each class selector and subsequent element selector within that class separated by commas*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}

/*Therefore, we don't need these because they are redundant and are condensed above*/
/* .online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
} */

/*Placed all section classes pointing to h2 (within main class="content") into one style block with each class selector and subsequent element selector within that class separated by commas*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/*Therefore, we don't need these because they are redundant and are condensed above*/
/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/*Class selectors for the benefits section (vertical bar on right side)*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*Placed all benefit classes (lead, brand, cost) into one style block with each class selector separated by commas*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/*Therefore, we don't need these because they are redundant and are condensed above*/
/* .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/*Placed all benefit classes pointing to h3 (lead, brand, cost) into one style block with each class selector and subsequent element selector within that class separated by commas*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*Therefore, we don't need these because they are redundant and are condensed above*/
/* .benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/*Placed all benefit classes pointing to img (lead, brand, cost) into one style block with each class selector and subsequent element selector within that class separated by commas*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*Therefore, we don't need these because they are redundant and are condensed above*/
/* .benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/*Class selectors for the footer*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h4 {
  font-size: 20px;
}